body {
    background-color: #191919;
    color: #818181;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
}

.controls {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
}

.shapes-heading {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav > .selected {
    color: #f1f1f1;
}

.main {
    margin-left: 160px;
    font-size: 28px;
    padding: 0 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
